<configuration>
<system.webServer>
<handlers>
  <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
 </handlers>

<!-- iisnode configuration -->
    <iisnode 
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="3"
      namedPipeConnectionRetryDelay="2000"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js;*.json"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="logs"
      debuggingEnabled="false"
      devErrorsEnabled="false"
    />
    
    <!-- Environment variables for IIS -->
    <environmentVariables>
      <add name="NODE_ENV" value="production" />
      <add name="PORT" value="4000" />
    </environmentVariables>
    
<rewrite>
  <rules>
    <rule name="nodejs">
      <match url="(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="index.js" />
    </rule>
  </rules>
</rewrite> 

<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
  </requestFiltering>
</security>
        <staticContent>
            <mimeMap fileExtension=".avif" mimeType="image/avif" />
        </staticContent>
</system.webServer>
 </configuration>